[2019-11-08 04:10] iggyvolz opened #1 "Machine unresponsive after exiting game"
Apologies if this is unrelated to the launch script but this did show just after upgrading from v0.9.18 to v0.9.22.

After exiting the game, my desktop manager crashes and I am only able to move the mouse.  I have to hard-power-off my machine to restore functionality.

[2019-11-08 15:40] kyechou commented on #1
Hi @iggyvolz, I'm not sure about the cause either, since the only difference of the package between the releases is the typo in the registry file getting fixed. Is the issue reproducible after downgrading the package or after you rebooted your machine?

[2019-11-09 19:08] iggyvolz commented on #1
Rebooted my machine and retried several times and the issue persisted, ran with the 9.18 patch and the issue did not show up.

[2019-11-09 19:23] kyechou commented on #1
It seems like enabling the MouseWarpOverride option would mess up you environment somehow, but I'm unable to reproduce the issue at my end. What was the desktop environment/window manager you were using when the issue happened? And could you give more details about which program crashed and how it crashed? For example, you may ctrl-alt-F2(or F<num>) to a tty and use htop/top/ps to see if there's a

[2019-11-09 22:11] iggyvolz commented on #1
I am using gnome-desktop on Arch Linux:
[code]

[2019-11-09 22:35] iggyvolz commented on #1
Had to reinstall gnome-desktop this morning because it was bugging out on me and apparently that did the trick.  Must have been purely coincidental that I did the league-of-legends upgrade at the same time.

[2019-11-09 22:35] #1 closed

[2020-01-09 08:52] travis-tang opened #2 "encountered a program error and cannot open installer.exe"
I encountered a program error when trying `leagueoflegends install` .
![2020-01-09_16:17:56_select](https://user-images.githubusercontent.com/46301849/72052401-11362880-3300-11ea-9722-608073638669.png)
Below is the details:
[code]

[2020-01-10 08:00] travis-tang commented on #2
It works well with wine but not well with wine-lol.

[2020-06-15 01:37] ckuanyenarkin commented on #2
Hi @travis-tang, I was not able to reproduce it with wine-lol 5.6. If there's still an issue, please feel free to reopen it and provide the steps for reproducing the problem. Thanks!

[2020-06-15 01:38] kyechou commented on #2
Hi @travis-tang, I was not able to reproduce it with wine-lol 5.6. If there's still an issue, please feel free to reopen it and provide the steps for reproducing the problem. Thanks!

[2020-06-15 01:38] #2 closed

[2020-06-20 20:12] S7uX opened #3 "cannot find 'Z:\home\user\.local\share\leagueoflegends\LOL\LeagueClient.exe"
Hi,
I get this error after installation when I run "leagueoflegends launch"

[2020-06-20 20:16] ckuanyenarkin commented on #3
Hi @S7uX, can you verify if the file ("/home/user/.local/share/leagueoflegends/LOL/LeagueClient.exe") exists? If it does exist, is the script you're using of the latest release?

[2020-06-20 20:20] kyechou commented on #3
Hi @S7uX, can you verify if the file ("/home/user/.local/share/leagueoflegends/LOL/LeagueClient.exe") exists? If it does exist, is the script you're using of the latest release? I got a similar error a few days ago and this commit (f9cfda1) fixed the issue that I had.

[2020-06-20 20:53] S7uX commented on #3
Thank you for your quick response! The file exists. I installed the aur package today.

[2020-06-21 20:46] kyechou commented on #3
Ok, thanks for verifying. I'll try to install from the AUR package as soon as I can and see I can reproduce the error.

[2020-06-22 01:13] kyechou commented on #3
Hi @S7uX, I can't seem to reproduce the issue. I tried on a new, vanilla Arch setup, and the game launched successfully after the install. If you still have the issue, please provide the "/usr/bin/leagueoflegends" script and the log output when you launch the game, with something like `leagueoflegends launch | tee launch.log`, since copy-pasting may mess up some invisible characters in the log.
Th

[2020-06-22 19:19] S7uX commented on #3
Hi, thank you for your efforts!

launch.log:

000b:fixme:winediag:start_process Wine Staging 5.6 is a testing version containing experimental patches.
000b:fixme:winediag:start_process Please mention your exact version when filing bug reports on winehq.org.
INFO: Starting game
'ine: cannot find 'Z:\home\user\.local\share\leagueoflegends\LOL\LeagueClient.exe

/usr/bin/leagueoflegends:

#!/bin/bash

[2020-06-22 19:31] kyechou commented on #3
Hi @S7uX, so it seems that the package you're using it not updated. The script is of an older version. What's the package version in your setup (`pacman -Q leagueoflegends-git`)? Hope I didn't forget to update the AUR version. And could you try to update or reinstall the AUR package and then launch the game again please? That should solve the problem.

[2020-06-22 20:32] S7uX commented on #3
It works!

pacman -Q leagueoflegends-git:
`leagueoflegends-git 0.13.r35.g6aea994-1`

After the reinstallation:
`leagueoflegends-git v0.10.12.r0.gc44d767-1`

Warning in German about a downgrade:
`Warnung: Downgrade des Paketes leagueoflegends-git (0.13.r35.g6aea994-1 => v0.10.12.r0.gc44d767-1)`

I think pacman did not want to update your package because it interpreted 0.13.r35.g6aea994-1 as a newer

[2020-06-22 20:36] #3 closed

[2020-06-22 20:37] kyechou commented on #3
Ah I see. I did change the version scheme last year to follow the LoL official patch versions when I started managing the AUR package. I'll leave a comment in the AUR comment section. Thanks!

[2020-07-21 03:41] barfin opened #4 "is wine-lol bug fix in upstream?"
I asked this in AUR but didn't get any response
this bug was fixed and it says the same thing (crashing after champion selection)
https://bugs.winehq.org/show_bug.cgi?id=48138
but I'm not sure if it's the exact same bug that is fixed in wine-lol

[2020-07-22 00:22] kyechou commented on #4
Hi @barfin, last time I checked (a few weeks ago) the issue still exists, so I guess not.

[2020-07-22 00:22] #4 closed

[2020-07-22 20:55] asamwow opened #5 "Skarner champion causing frame drops"
Hi, I don't own skarner unfortunately, but I think some code of his causes massive frame drops. Could easily have to do with the domination objectives he creates.
I played 2 games against him as nasus, and it was as if I had 10 fps, while usually I get 180+
I had no other applications open. nvidia drivers, amd cpu, manjaro.

Thanks a lot for having the most convenient way of playing lol on linux b

[2020-07-22 21:49] asamwow commented on #5
I get the exact same issue in nexus blitz every game.

[2020-07-22 22:48] kyechou commented on #5
Hi @asamwow, thanks for bringing it up. Unfortunately I don't have Skarner either. Also I'm a bit occupied recently, and probably not able to look into it until later this fall or winter, so it would be nice if in the mean time someone could try it out or report it to the upstream accordingly.

[2020-07-29 10:40] asamwow commented on #5
issue doesn't exist when I tried using Lutris

[2020-09-21 15:53] EricDriussi opened #6 "Thanks dude!"
Not quite sure if its right to post this here but thanks! Constantly having trouble with lutris and this works wonderfully!
Cheers!

[2020-09-21 17:51] kyechou commented on #6
Thanks! I'm glad you find it helpful.

[2020-09-21 17:51] #6 closed

[2020-10-18 15:47] M-Reimer opened #7 "Pre-Launch script needed to successfully start LoL"
Since a few weeks there is an issue where the client runs into a timeout as for some reason a part of the LoL client runs way too slow with Wine.

There is a workaround with a pre-launch script which suspends the LoL client until the required port gets available:

https://www.reddit.com/r/leagueoflinux/comments/j07yrg/starting_the_client_script/

I did a few minor fixes to this script. My fixed ve

[2020-10-18 16:40] kyechou commented on #7
Wow, @M-Reimer thanks a lot! I will try it out and update it ASAP.

[2020-10-19 03:22] kyechou commented on #7
I tried it out this evening (and I also tried a few variations of the script with uninstalling and installing everything), but the issue still exists. I will probably need to come back to it later when I have more time, and so if anyone has time to investigate the solution, PRs are welcome.

[2020-10-19 11:29] M-Reimer commented on #7
Maybe it would help if you find out where the script fails. It should wait for the LoL client to become available and then suspend it. If one of the steps fails, maybe the script still needs some work.

[2020-11-09 05:34] travis-tang commented on #7
It seems to work with the new riot client instead of the old client. But how to get the new client?

[2020-12-31 06:14] kyechou commented on #7
I've just updated the scripts with the new client and the launch helper, and tested successfully on my setup. Close for now. Feel free to re-open the issue (or new issues) if there's any trouble.

[2020-12-31 06:14] #7 closed

[2020-12-31 06:15] kyechou commented on #5
Hi @asamwow, I just updated the install and launch script to use the new Riot client. Could you try the new revision and see if it works? Thanks!

[2021-04-21 19:49] StefanLobbenmeier opened #10 "r/leagueoflinux asked for you to reach out"
https://reddit.com/r/leagueoflinux/comments/mv1pzp/start_here_league_of_linux_megathread_everything/

[2021-04-21 20:52] kyechou commented on #10
Thank you Stefan! I've sent a message to see how I can help.

[2021-04-27 15:52] Leaced opened #11 "No Cursor in Xwayland"
Using the "leagueoflegends install" under wayland with sway as compositor opens a install window, but the install button can not be clicked, because there is no cursor.

I am not sure, if this is a problem of wine, xwayland, wine-lol, etc., but is there a way to install this game for me without needing a cursor in this step?

Could wine-wayland be a solution and how?
https://github.com/varmd/wine-

[2021-05-25 14:35] #10 closed

[2021-08-27 18:38] knarkzel opened #15 "Script broke with latest."
- https://www.reddit.com/r/leagueoflinux/comments/pb4wqy/did_the_upgrade_to_cef91_as_part_of_1117_break/haarzou/?utm_source=share&utm_medium=web2x&context=3
- https://www.reddit.com/r/leagueoflinux/comments/pcqrc8/proof_of_concept_version_of_winelol_518/
- https://www.reddit.com/r/leagueoflinux/comments/pc5vao/new_lutris_installer_again/

Ran it on my machine using Arch Linux after `sudo pacman -S

[2021-08-30 20:50] kyechou commented on #15
Thank you @knarkzel! I've updated the README and the AUR package dependency requirements. It works fine now at my setup. Please reopen the issue if it still doesn't work.

[2021-08-30 20:50] #15 closed

[2021-09-10 17:06] gabrielbelli opened #16 "Crashing after login"
Command
`leagueoflegends -v start`

Output:
[code]

The process stops after the last line.

[2021-09-21 15:53] JakubChorzepa opened #17 "Leauge of Legends logo shows and then it crashes"
It is leagueoflegends -v start output
[code]

[2021-10-18 16:50] Cryp70m4n opened #18 "Black screen client"
Once the game loads the whole client is black, it works you can click play button but everything is black and you can't see anything in client

[2021-10-23 13:11] coreybruce opened #19 "sha256sum mismatch for vcrun2019"
Ran into this problem when installing using the helper script

[code]

[2021-10-23 14:42] coreybruce opened #20 "Cant use mouse to move camera around"
Hi just want to report that you aren't able to use the mouse to freely move the camera around making the game unplayable unless you change the camera to follow you also the launcher is black unless you use DXVK, I would recommend having that installed by default.

Another thing I want to report is that the game takes quite a long time to launch and will sit there waiting for league of Legend clien

[2021-10-27 14:24] #19 closed, assigned to nobody

[2021-10-30 20:39] ekistece commented on #20
yes, i have that bug also on gnome, maybe we could add a script that waits until the window is activated and activates and deactivates it...

[2021-10-30 20:40] ekistece commented on #20
i added dxvk by default with my last PR

[2021-11-02 06:06] coreybruce commented on #20
What can be done about the long time it takes to open the game launcher? should I start a post about that?

[2021-11-03 23:26] ekistece commented on #20
Its the only current workaround to start league currently...

[2021-11-05 05:16] coreybruce commented on #20
Oh Alright thanks for letting me know, hopefully more work in wine will fix it :)

[2021-11-10 21:40] kyechou commented on #18
Disable dxvk (`leagueoflegends del-dxvk`) and then give it a try. I've also disabled it during installation by default.

[2021-11-10 22:36] kyechou commented on #17
The game works fine on my end, and I was unable to reproduce the issue. Could you please provide the detailed information of your setup?

[2021-11-10 22:38] kyechou commented on #16
I was unable to reproduce the issue. Could you please provide the detailed information of your setup, including the timeline of how long you waited before and after the logo showing?

[2021-11-10 23:58] kyechou commented on #20
I've encountered the mouse issue a long time ago with either gnome or i3 (I forget now), which may be caused by how the WM handles the window, though wine should've captured the cursor. Which WM did you use?

[2021-11-11 00:03] kyechou commented on #18
Also, please make sure that drivers are all installed correctly based on your hardware setup. More information: https://www.reddit.com/r/leagueoflinux/wiki/index#wiki_1_-_.25B6.FE0F_how_to_install_league_of_legends
If it still doesn't work, please provide detailed information similar to those mentioned [here](https://www.reddit.com/r/leagueoflinux/wiki/index#wiki_3b_-_how_to_write_a_support_reques

[2021-11-11 04:00] coreybruce commented on #20
I'm Using Gnome, a work around to it is to alt tab off than back onto the game to fix it

[2021-11-11 04:40] trainzkid commented on #18
Sys Info:
Distro: Arch Linux
Kernel: 5.14.14-zen1-1-zen
Window Manager: i3
CPU: AMD Ryzen 7 5700G with Radeon Graphics
RAM: 2382 MB / 23398 MB
Resolution: 2560x1080

Wine Deps:
wine-staging 6.21-1
giflib 5.2.1-2
lib32-giflib 5.2.1-1
libpng 1.6.37-3
lib32-libpng 1.6.37-3
libldap 2.4.59-2
lib32-libldap 2.4.59-1
gnutls 3.7.2-2
lib32-gnutls 3.7.2-1
mpg123 1.29.2-1
lib32-mpg123 1.29.2-1
openal 1.21.1-1

[2021-11-11 06:41] kyechou commented on #18
Perhaps replace `wine-staging` with `wine-lol`, and then remove `lib32-mesa`, since you're already using `lib32-vulkan-radeon` if I understand it correctly. Once it's done, update the `leagueoflegends` AUR package to the latest revision, and then use `leagueoflegends uninstall` and `leagueoflegends install` (or just `leagueoflegends reinstall`) to reinstall it from scratch, which should also insta

[2021-11-11 07:07] kyechou commented on #17
Closing for duplication (#16). Please feel free to open a new issue if there's more specific information.

[2021-11-11 07:07] #17 closed

[2021-11-13 00:40] trainzkid commented on #18
Woops, I thought I included my information about wine-lol since it's required by the leagueoflegends AUR. Sorry about that!

wine-lol 5.18-1

Unfortunately, I can't remove lib32-mesa since it's apparently required by steam (via lib32-libglvnd, which requires lib32-mesa).

It appears the lol AUR package is currently at version leagueoflegends-git 0.11.22.r0.g36c1efc-1, which is the same version I c

[2021-11-20 05:35] avahe-kellenberger commented on #18
I had this issue not knowing dxvk came by default, closed the game and ran `leagueoflegends add-dxvk` and started the game again, the issue went away.

[2021-11-20 17:54] trainzkid commented on #18
@avahe-kellenberger's fix seems to have worked for me!! Thanks!!

[2021-11-25 18:26] #18 closed

[2021-12-11 16:52] kofer99 opened #23 "Stuck in Blackscreen after Champion Selection"
Hi, whenever i start a game i get stuck in a blackscreen and get the following output in the terminal
![image](https://user-images.githubusercontent.com/1973802/145684782-74e01b62-f521-4fb8-87f3-cf442067a85f.png)
I run Manjaro Linux, a fresh install from last week.
My specs: Ryzen 5 2600x, 16GB 3200Mhz Ram , a GTX 1080TI .
I installed my graphics drivers from the Manjaro Update Tool or how it is c

[2021-12-13 08:03] kyechou commented on #23
It seems like a graphic card issue, and may be related to #18. Have you tried `leagueoflegends add-dxvk`? (Note that if you installed the game based on the latest commit, DXVK should have been installed with the client.)

If the issue still remains, please make sure that the graphic card drivers are installed and loaded properly. Please check and paste the output of `pacman -Qs nvidia`, `pacman -Q

[2021-12-13 09:13] kofer99 commented on #23
i tried leagueoflegends add-dxvk but that didnt help.
![image](https://user-images.githubusercontent.com/1973802/145783880-95fc5571-6ba4-45da-b286-0f14c348247c.png)
![image](https://user-images.githubusercontent.com/1973802/145783949-5e583be6-d25a-4d4e-bf8b-38d64b6bd4e7.png)
![image](https://user-images.githubusercontent.com/1973802/145784008-34b1c374-9f11-4551-ae72-0c54ddcbc7e7.png)

[2021-12-13 10:56] kyechou commented on #23
What was the output of `leagueoflegends add-dxvk`?
Also, have you tried rebooting after installing the game? I used to have a similar issue on one (intel+nvidia multi-GPU laptop) setup before but cannot reproduce it now.

[2021-12-14 00:01] avahe-kellenberger opened #24 "Client crashes during "Waiting for the League client port to open...""
OS: Arch Linux

Was working fine until a recent update.
Now, when I run `leagueoflegends start`,
the client crashes a few seconds later (before the port opens).

Logs:

[code]

If I can provide more info please let me know.

[2021-12-15 02:56] #5 closed

[2021-12-15 03:15] kyechou commented on #24
Hi, please take a look at the [new template](https://github.com/kyechou/leagueoflegends/blob/master/.github/ISSUE_TEMPLATE/default-template.md) and provide more information.

[2021-12-15 07:34] avahe-kellenberger commented on #24
### System information

 - Distro: Arch
 - DE/WM: Nimdow
 - CPU: Intel i7-7700K
 - GPU:  NVIDIA GeForce GTX 1070
 - Graphics card drivers: `nvidia`, `mesa`

### Describe the issue

Was working fine until a recent update.
Now, when I run leagueoflegends start, the client crashes a few seconds later (before the port opens).

### Steps to reproduce

1. Run command `leagueoflegends start`
2. Game star

[2021-12-15 07:56] kyechou commented on #24
Hi Avahe, thanks for the information. Could you provide the output with the `-v` option? (`leagueoflegends -v start`)

[2021-12-15 07:57] kyechou commented on #24
Also, by recent update, what/which update are you referring to?

[2021-12-15 08:05] kyechou commented on #24
Also, were you using the Intel integrated graphics (Intel HD Graphics 630) or the NVIDIA graphics? One way of checking it may be `nvidia-smi` while the client is running.

[2021-12-15 22:25] avahe-kellenberger commented on #24
- After a full system update (including nvidia drivers and the kernel)
- Using Nvidia graphics

`leagueoflegends -v start`:

[code]

---

I'll try running after downgrading the drivers and kernel and report back

[2021-12-15 22:41] avahe-kellenberger commented on #24
Was unable to start the xserver after downgrading both for some reason.

I noticed that these particular lines pop up right when the client crashes (from the above log):
[code]

[2021-12-15 22:45] kyechou commented on #24
Thanks for the detailed information!
Yes, it looks like the game launching process is working fine. The issue seems to be related to DXVK as you mentioned. Somehow Vulkan is broken with your setup.

[2021-12-15 22:47] kyechou commented on #24
Could you please update again the `leagueoflegends-git` AUR package and share the output of `pacman -Qi leagueoflegends-git`?

[2021-12-15 22:53] avahe-kellenberger commented on #24
[code]

[code]

[2021-12-15 22:59] kyechou commented on #24
The xorg log looks perfectly fine to me. My only suspicion is about the package `lib32-amdvlk`. I assume you don't have AMD graphics card? Would you be able to remove `lib32-amdvlk`? Or is it required by other packages (if so, what package)?

[2021-12-15 23:07] kyechou commented on #24
Please take a look at [this comment](https://github.com/ValveSoftware/Proton/issues/1026#issuecomment-629718831) and its following comment, which seems to be related to your issue(?)

[2021-12-15 23:30] avahe-kellenberger commented on #24
Removing `lib32-amdvlk` did the trick! Thanks.

It's been installed for a long time so maybe it was a wine update that caused the problem.

[2021-12-15 23:30] #24 closed

[2021-12-15 23:39] avahe-kellenberger commented on #23
https://old.reddit.com/r/leagueoflinux/comments/rh3odt/when_the_game_starts_i_only_see_a_black_screen/

Seems to be an issue with nvidia 495 - people are saying nvidia 470 works.

[2021-12-16 09:38] kofer99 commented on #23
Ah thanks will try later, i dont use linux all the time yet so it might take me a while to try stuff out.

[2021-12-17 01:40] avahe-kellenberger commented on #23
Fwiw the game is working via lutris with the same driver.

See https://lutris.net/games/install/23547/view

[2021-12-17 05:35] wiggleforlife commented on #16
I've got the same issue - Arch on kernel 5.15-7-arch-1-1. I see the process thing being blocked, that sounds like it is of importance. I've gotten `wine-lol` and `leagueoflegends-git` from the AUR. When installing using `leagueoflegends install`, it got stuck at 100% downloading, so I downloaded the installer from Riot's website and ran it in the prefix as suggested in the r/leagueoflinux subreddi

[2021-12-17 15:32] coreybruce commented on #23
Will this issue be fixed, I am on Nvidia 495.44 but instead of a black screen which I did ironically get on Windows 10 I got this weird line on my screen.

![Screenshot from 2021-12-18 01-29-12](https://user-images.githubusercontent.com/8393780/146568710-458518d0-a777-45e6-846e-c445edb94977.png)

Also here is my log:
[code]

[2021-12-18 02:16] kyechou commented on #16
The crash is most likely because of having wrong graphics card drivers installed or configured. Please make sure that Vulkan is working (https://wiki.archlinux.org/title/Vulkan#Verification).

[2021-12-18 02:16] #16 closed

[2021-12-18 02:24] kyechou commented on #23
@coreybruce I probably won't fix this because I don't have the specific GPU for testing or time. But any PR or suggestions for a fix are welcome.

[2021-12-18 23:37] othmane00git opened #25 "System Error"
A critical error has occured and the process must be termianted.
would you like to create a crash dump to aid the developers in troubleshooting this issue? This may take up to 5 minutes.
NOTE: the process may appear unresponsive during this time.

Everytime I pick a champion and when the cooldown ends to launch the game I get this error.
I installed wine from WIneHQ and I have nvidia 495 im on deb

[2021-12-18 23:42] othmane00git commented on #25
![Screenshot_2021-12-19_00-22-44](https://user-images.githubusercontent.com/95961204/146658407-be96a8be-bacf-4414-8ff6-38cd84d6e32e.png)

[2021-12-19 00:22] kyechou commented on #25
First thing is that wine (stable) or wine-staging wouldn't really work. You would want to install [wine-lol from M-Reimer](https://github.com/M-Reimer/wine-lol). For Debian, you can install these two pre-built packages at https://m-reimer.de/wine-lol/debian/ with `sudo dpkg -i <pkgname>.deb`, or you can also build them locally following the instructions.

Second, please make sure all the dependenc

[2021-12-19 12:25] coreybruce commented on #23
I could do the testing for you because the game is now sadly unplayable on Linux for me and I would love to help fix this issue

[2021-12-20 02:16] kyechou commented on #23
Hi @coreybruce, since I'm not sure yet if your issue has the same cause as this @kofer99's, and the observable behavior is different, would you mind opening a new thread and provide all the detailed information?

Also, there are a few things that seems a bit confusing. I figure if you have a windows 10 setup, it'd be better if you could at least make sure the game is working in windows 10. Afterwa

[2021-12-20 11:26] coreybruce commented on #23
I fixed the issue on Windows by letting it scan and fix itself but that wasn't a fix for me on Linux

Also yes my Nvidia is installed correctly as I play a bunch of other games on Steam and htis game is the only one with the issue.

[code]

And still does it, should I open  a new issue like you said than?

[2021-12-24 20:01] #25 closed

[2021-12-28 12:27] Freggels commented on #20
not sure if that is related but running `leagueoflegends run winecfg` and enabling the virtual desktop fixed it for me on sway

[2022-01-05 18:23] Jralph4 opened #26 "Client not opening - Arch"
I installed league of legends with the helper script in the repositories. It's been working so far, I could play flawlessly. Yesterday I tried to open it as usual and it won't go. The initial loading window appears, and the riot icon appears as well in the bottom right corner. But when the loading screen is finished and the LoL logo should appear, it doesn't. and I'm left with the riot icon below.

[2022-01-09 17:18] coreybruce commented on #23
@kyechou I can confirm with lutris-ge-lol- 6.16-4 that a newer wine version will fix the problem, I tested by installing League of Legend on Lutris.

[2022-01-10 01:50] kyechou commented on #23
Thanks @coreybruce! Unfortunately I'm a bit occupied recently, and fixing this would also take some time. I will take a look whenever I'm able to, but in the mean time, any pull request would be greatly appreciated.

[2022-01-26 07:11] kyechou commented on #26
Hi @Jralph4, thanks for the issue! I just updated the script and AUR package source for a newer version of wine. It works on my setup with the latest patch (12.2). Please try again and reopen the issue if it persists!

[2022-01-26 07:11] #26 closed

[2022-01-26 07:14] kyechou commented on #23
Hi @coreybruce, I've updated the script and AUR package source for a newer version of wine (GloriousEggroll's wine patch 7.0-1), which works for me. Please try again with the latest release, and reopen the issue or a new one if needed. :)

[2022-01-26 07:14] #23 closed

[2022-01-26 07:34] coreybruce commented on #23
Hey and oh okay cool, I'll test it out when I can. :)

[2022-01-26 13:59] F1uk369 opened #28 "Black Screen Arch Linux"
!! Before creating an issue, please take a look at the [troubleshooting section](https://old.reddit.com/r/leagueoflinux/wiki/index#wiki_3_-_.1F527_tech_support_and_troubleshooting).

### System information

 - Distro: Arch Linux
 - DE/WM: Riced KDE
 - CPU: i5 10400 OC
 - GPU: 1660 super
 - Graphics card drivers installed: nvidia-dkms

If your issue is related to graphics display, please attach the

[2022-01-26 14:07] F1uk369 commented on #28
Also attempting to install wine-ge-lol 7.0.GE.1.LoL-1 throws a few errors. When running yay wine-ge-lol it says error failed retrieving file 'sane-1.0.32-3-x86_64.pkg.tar.zst.sig'
warning: failed to retrieve some files
Errors occurred, no packages were upgraded.

[2022-01-26 23:42] ThePirate42 opened #29 "Question about recent changes (Arch)"
While I was updating with makepkg, root access was required. I searched online, and it seems that the privileged command disables something in the kernel that would normally speed up 32bit applications, and disabling that is an alternative to the patched glibc (that leagueoflegends-git doesn't require anymore).

Why have you made this change? Affecting performance for all 32bit applications seems

[2022-01-27 19:27] ekistece commented on #29
Use my fork, i have it frozen before the proton switch. I'm a contributor here but i like the glibc approach better also. I added the PKGBUILD to create the arch package. [https://github.com/ekistece/leagueoflegends](url)

[2022-01-27 19:31] kyechou commented on #29
Hi @ThePirate42, yes, disabling the parameter is an alternative to the patched glibc, and leagueoflegends-git requires either one of those to work. I'm also aware that disabling the parameter may slow down some 32-bit applications, but I'm not sure how much impact it'd have on performance. The reason why I made this change is because the current version of wine-lol is based on an older version of

[2022-01-27 19:37] kyechou commented on #29
That'd be great! I'll create a new package `leagueoflegends-ge-git` with `wine-ge-lol` for GloriousEggroll's wine, and revert `leagueoflegends-git` back with the stable wine-lol + wine-lol-glibc approach... (probably over the weekend)
@ekistece If it's okay with you, please send me an email with your AUR username so that I could add you as co-maintainer.

[2022-01-27 19:48] ekistece commented on #29
Thank you man! I don't have an AUR accopunt yet, I'll make one when I have time. Your script is really useful and easy to work with btw, lutris always gave me problems for some reason.

[2022-01-28 19:30] NyaomiDEV commented on #29
Right now, `leagueoflegends-git` needs `wine-ge-lol` which conflicts with `wine`, `wine-staging` and other `wine` forks. This is not ideal, as `wine-ge-lol` can have problems with ordinary Windows software. The proposed solution is to create an alternative package that does not conflict with the systemwide install of `wine`.

[2022-01-28 22:34] kyechou commented on #28
Hi @F1uk369, please first make sure your pacman mirror repositories are up to date (perhaps via tools like [reflector](https://wiki.archlinux.org/title/reflector)), and then run `pacman -Syy` before installing wine-ge-lol, or simply `yay -Syy wine-ge-lol`.

If the issue in the original post still remains after wine-ge-lol is installed, please provide the information as indicated in the issue templ

[2022-01-28 23:53] kyechou commented on #29
Thanks @NyaomiDEV, yeah that makes sense. Another folk had the same comment at the AUR comment section.

Here are a few changes.

* `wine-ge-lol` is now installed at `/opt/wine-ge-lol`, so it doesn't have conflicts now with wine or other wine variants.
* The main script `leagueoflegends` stays the same for the most part, but now there are two versions of `make install`. `make install` installs the

[2022-01-28 23:53] #29 closed

[2022-01-28 23:58] kyechou commented on #26
For anyone who found this thread, please install `leagueoflegends-ge-lol` instead of `leagueoflegends-git` if you have the same issue.

[2022-01-29 00:08] kyechou commented on #23
FYI, the package with the newer version of wine is now at `leagueoflegends-ge-lol`. Please try that one instead of `leagueoflegends-git`. Thanks!

[2022-01-29 05:23] DgDays opened #30 "How to sign into Riot account with Google"
All progress is saved in an account linked to Google. Can I somehow enter the game through it?

[2022-01-29 14:35] kyechou commented on #30
I don't know, and the issue doesn't seem to be particular to LoL on Linux.

[2022-01-29 14:58] JPTIZ commented on #28
Not sure if it is the same issue, but I tested with a clean build after updating all my packages using `league-of-legends-ge-git` AUR package. Client opens nicely but the game itself freezes with no graphical updates and eventually the client recognizes I was idle for too much time and ends the game - although the game window is still open and frozen.

My `vulkaninfo`:
[vulkaninfo.txt](https://git

[2022-01-29 15:18] kyechou commented on #28
Hi @JPTIZ, I'm not sure if it's the same issue either, but it seems different. Please open up new a new issue. Thanks!

[2022-01-29 15:22] kyechou commented on #28
@F1uk369 , if all is done and the issue remains, please try `leagueoflegends del-dxvk`

[2022-01-29 16:19] JPTIZ opened #31 "Client opens and works as expected, but game screen is frozen"
!! Before creating an issue, please take a look at the [troubleshooting section](https://old.reddit.com/r/leagueoflinux/wiki/index#wiki_3_-_.1F527_tech_support_and_troubleshooting).

### System information

 - Distro: ArchLinux (5.16.2.arch1-1)
 - DE/WM: i3
 - CPU: Intel(R) Core(TM) i5-7300HQ
 - GPU: GeForce GTX 1050 Mobile
 - Graphics card drivers installed: `nvidia` (`mesa` is installed, but jus

[2022-01-29 22:54] kyechou commented on #31
Hi @JPTIZ, thanks for the issue. The logs seem fine. Would you mind trying `leagueoflegends del-dxvk` first, and then starting the game? Also, it might be helpful too if you could share the output of `pacman -Qi leagueoflegends-ge-git`.

[2022-01-30 00:17] JPTIZ commented on #31
Here it goes the last part:

[code]
I'll test the del-dxvk one.

[2022-01-30 00:44] JPTIZ commented on #31
Ok, with `leagueoflegends del-dxvk`, the game opens and I can play! :D Only drawback now tho is that the client is fully black so I had to figure out by memory where each option was to enter a training match to test :) So selecting runes/etc. is a no-no.

[2022-01-30 03:37] DgDays commented on #30
Unfortunately, the problem is in the client... The site tries to find the application using the riotclient://auth/v1/token link, but does not find the client... You need to somehow bind riotclient:// to the program and, I think, then all the necessary data will be transferred by itself
Based on the principle of data transfer, we need the client to create a server to which this link will go, becaus

[2022-01-30 08:06] kyechou commented on #31
Well, that's progress :smile: but the blank client is definitely not good. I haven't encountered this problem before, but I guess it might have something to do with using multiple GPUs (integrated and dedicated)? I wonder if it's possible to remove `lib32-vulkan-intel`. Is it needed by other packages? Perhaps try again after removing `lib32-vulkan-intel`? Also, is there a way to check that all tho

[2022-01-30 08:18] kyechou commented on #30
Hi @DgDays, I'm think I understand your general idea, but I'm not sure how their internals work and also don't have the resources to figure out how to implement that for the time being. Another potential workaround might be to sign in at https://account.riotgames.com first. You should be able to sign in through Google there. And then you may be able to set up the password and manage the connected

[2022-01-30 08:30] #20 closed

[2022-01-30 09:54] DgDays commented on #30
Yes, it worked. But, I think, we should still try to set up registrations. If I come up with something or find out, I'll write it here ;)

[2022-01-30 11:26] kyechou commented on #30
Closing for now. Please feel free to send in pull requests as well :)

[2022-01-30 11:26] #30 closed

[2022-01-31 04:02] floorcows opened #32 "Cannot open client"
!! Before creating an issue, please take a look at the [troubleshooting section](https://old.reddit.com/r/leagueoflinux/wiki/index#wiki_3_-_.1F527_tech_support_and_troubleshooting).

### System information

 - Distro: Arch
 - DE/WM: i3
 - CPU: Intel i7-7700HQ (8) @ 3.800GHz
 - GPU: NVIDIA GeForce GTX 1050 Ti Mobile
 - Graphics card drivers installed: nvidia mesa and integrated

### Describe the is

[2022-01-31 11:49] kyechou commented on #31
May be related: https://www.reddit.com/r/leagueoflinux/comments/r0oo0p/i_got_league_working_again_on_my_nvidia_drivers/

[2022-01-31 12:08] kyechou commented on #32
That's very likely due to vulkan and issues with the graphics packages, maybe similar to #16. Could you please try https://wiki.archlinux.org/title/Vulkan#Verification, and also share the output of `pacman -Qi leagueoflegends-ge-git`, `pacman -Qs nvidia`, and `pacman -Qs vulkan`?

[2022-01-31 13:38] kyechou commented on #31
Hi @JPTIZ, according to the [previous link](https://www.reddit.com/r/leagueoflinux/comments/r0oo0p/i_got_league_working_again_on_my_nvidia_drivers/), I used https://github.com/Frogging-Family/nvidia-all to downgrade my nvidia packages to 470.94-195, and reinstalled leagueoflegends-git with wine-lol and wine-lol-glibc. No need to set the DX9 legacy mode in the League client. The game runs perfectly

[2022-01-31 14:37] kyechou commented on #28
Hi @F1uk369, I've updated README with some new information, and tested the game. Please take a look and try again with the leagueoflegends-git package. If the issue still remains, please consider attaching the information as mentioned above.

[2022-01-31 14:53] kyechou commented on #32
Hi @floorcows, I just tested the game with both packages, and they should both work fine. I updated README with some more information. Please take a look and share the output as mentioned above. Thanks!

[2022-01-31 14:56] kyechou commented on #29
Small update. Both packages should work now. Many of the recent issues seem to stem from the driver updates of Nvidia related packages.

[2022-01-31 17:01] floorcows commented on #32
Hello, Thank you for the support!
I always launch the game in optimus-manager's nvidia mode.
Here are the outputs:
## ls /usr/share/vulkan/icd.d/:
amc_idc32.json nvidia_icd.json
## vulkaninfo:
[vulkaninfo.txt](https://github.com/kyechou/leagueoflegends/files/7972654/vulkaninfo.txt)
## leagueoflegends-ge-git
`Name            : leagueoflegends-ge-git
Version         : 0.12.2.r7.gd509cd6-1
Descriptio

[2022-01-31 17:14] kyechou commented on #32
Hi @floorcows, yeah I saw there are `lib32-amdvlk` and `lib32-nvidia-utils` both installed. Since you're using Nvidia, you should probably remove `lib32-amdvlk`. Ideally that should solve the problem

[2022-01-31 17:25] kyechou commented on #32
It seems to be the same issue as #24.

[2022-01-31 19:28] floorcows commented on #32
Removing lib32-amdvlk fixed the issue, i am now able to launch the client. Thanks.
It is now the game itself that blackscreens, I will follow the steps [here](https://old.reddit.com/r/leagueoflinux/comments/r0oo0p/i_got_league_working_again_on_my_nvidia_drivers/).

[2022-01-31 19:47] kyechou commented on #32
Great! Please also take a look at #31.

[2022-01-31 19:47] #32 closed

[2022-02-01 17:51] JPTIZ commented on #31
Tried it but I have an internal problem with nvidia in this case, as I get "no screen found" errors with older `nvidia` versions when running `nvidia-xrun`. Probably will have to wait for another update in my case.

I could try it. Which caches exactly?

Took a quick look, nice pointings :)

[2022-02-01 18:55] kyechou commented on #31
Anything related to the graphics card and X11 I assume. They have the detailed process of how to do exactly that in the [original post](https://www.reddit.com/r/leagueoflinux/comments/r0oo0p/i_got_league_working_again_on_my_nvidia_drivers/).

[2022-02-02 16:59] drshapeless opened #33 "Cannot launch client with Garena"
!! Before creating an issue, please take a look at the [troubleshooting section](https://old.reddit.com/r/leagueoflinux/wiki/index#wiki_3_-_.1F527_tech_support_and_troubleshooting).

### System information

 - Distro: Artix
 - DE/WM: icewm
 - CPU: AMD Ryzen 3600
 - GPU: RTX 2060
 - Graphics card drivers installed: nvidia

If your issue is related to graphics display, please attach the output of `v

[2022-02-02 18:41] kyechou commented on #33
Hi @drshapeless, thanks for the issue! I'm aware that it's not working with Garena yet since some of my previous updates, because Garena requires certain versions of wine. Though making the script work with Garena is quite simple, lately I haven't had enough time to get around to do it and test it. I'll take a look whenever possible. But any PR is also welcomed in the mean time. :)

[2022-02-13 01:41] kyechou commented on #33
Hi @drshapeless, please check out the latest commit for the fix. Closing for now, please feel free to reopen the issue if needed. Thanks!

[2022-02-13 10:40] F1uk369 commented on #28
Wine now just says LeagueClientUX crashes.

Wine log:
0x126fe566 libcef+0x26fe566: int	$3
Modules:
Module	Address			Debug info	Name (74 modules)
PE	00350000-003aa000	Deferred        combase
PE	003b0000-003bd000	Deferred        userenv
PE	003c0000-003eb000	Deferred        winevulkan
PE	00400000-0081f000	Export          riotclientuxrender
PE	00820000-008e7000	Deferred        winmm
PE	008f0000-00af00

[2022-02-13 15:31] kyechou commented on #31
@JPTIZ, I've updated README some time ago thanks to #34 and [u/112138](https://www.reddit.com/user/112138/). Please check out the troubleshooting section at the end of README, and let me know if there's still an issue. Thanks!

[2022-02-13 15:41] #28 closed

[2022-02-14 03:34] JPTIZ commented on #31
Tried some of the things (looked for dxvk files, but none found - yet I ran `leagueoflegends rm-dxvk-cache`) but no success.

Also, I find it rather strange that output shows MESA-INTEL warnings:

[code]

does it mean it might be trying to use mesa driver instead of nvidia? How could I force nvidia to be used (I even start X with `nvidia-xrun i3`, so NVidia GPU is the 3D accelerator, so it wouldn'

[2022-02-14 04:26] JPTIZ commented on #31
UPDATE! After all that DXVK cache mess, I tried `leagueoflegends add-dxvk` and client shows as expected! :D

[2022-02-22 06:39] drshapeless commented on #33
Sorry for my late response. I just tested it out. I successfully installed garena client and the game.

It did not work. Even worse, when I run `league-of-legends start-garena`, nothing happened.
When I turned on verbose, it showed that the script stuck in a weird loop just as before. But this time, I could not even have the garena client shown up.

+ export WINEDEBUG=fixme-all
+ WINEDEBUG=fixme-a

[2022-02-22 23:40] kyechou commented on #33
@drshapeless,
Could you please share the content of `/usr/bin/leagueoflegends`? It's strange there's no line indicating the garena client was executed by wine from your log. Please put the log text in monospace format. Also, can you share the output of `vulkaninfo --summary`? How long had you waited for the loop?

[2022-02-22 23:45] kyechou commented on #31
@JPTIZ , I don't think you need to remove mesa. In your previous comment, I saw you have both `lib32-nvidia-utils` and `lib32-vulkan-intel` installed. That might be an issue. Please check the output of `vulkaninfo --summary`, and remove `lib32-vulkan-intel` assuming you're using the Nvidia card.

[2022-02-23 00:46] drshapeless commented on #33
I had been waiting for at least 5 minutes. But from the log, I don't think Garena client has ever been launched. This is weird.

This is the script in my `/usr/bin/leagueoflegends`.
[code]

This is the `vulkaninfo --summary`, but sorry for this, I am now at work and using ssh to my home machine to show the info, something is missing. But I don't think vulkan is the problem, because I am able to us

[2022-02-23 01:56] kyechou commented on #33
Hi @drshapeless , thanks for the details!

You're right, the more recent versions of wine may render the Garena client blank, but removing the `libEGL.dll` files solves the problem for me, which has already been added in the script (i.e., the `find` command in the `start_garena` function). I agree that maybe having a slightly lower version of wine (>=6.0 but <=7.1) may work better for the Garena c

[2022-02-24 03:01] inezserrano opened #36 "Doesn't work on Debian?"
dpkg: error: cannot access archive 'leagueoflegends.deb': No such file or directory

I have no idea where I'm supposed to get this.

[2022-02-24 16:56] JPTIZ commented on #31
Oh, in the end the `add-dxvk` managed to make it work :) I've messed before with `del-dxvk` (as recommended [here](https://github.com/kyechou/leagueoflegends/issues/31#issuecomment-1025002043)) and etc. and never readded it.

Currently, LoL has been working fine on my computer, fully playable.

[2022-02-24 18:56] kyechou commented on #31
Congrats!

[2022-02-24 18:56] #31 closed

[2022-02-24 19:33] kyechou commented on #36
Thanks for the issue. I just updated README and hopefully it's a bit more clear. You need to specify the deb package that you generated with `./package.sh debian`. It looks something like `leagueoflegends_0.12.3_any.deb`.

[2022-02-27 19:46] psykher opened #37 "Can't start a match"
### System information

 - Distro: Debian GNU/Linux 11 (bullseye)
 - Kernel: 5.10.0-11-amd64
 - DE/WM: Gnome 3.38.6-1~deb11u1
 - CPU: Intel i7-1065G7 (8) @ 3.900GHz
 - GPU: Intel Iris Plus Graphics G7
 - GPU: NVIDIA GeForce GTX 1650 Mobile / Max-Q
 - GPU drivers: NVIDIA 460.91.03  CUDA 11.2
 - Memory: 16 GB

### Issue

When I try to start a match even with the practice tool it just shows me the re

[2022-03-02 14:39] #36 closed

[2022-03-03 10:24] caseyjp11 opened #38 "Runes do not save"
### System information

 - Distro:  Arch
 - DE/WM: KDE
 - CPU: AMD FX6 series
 - GPU: AMD RX550 (lexa pro)
 - Graphics card drivers installed: AMD drivers-non proprietary

The game itself works fine as far as I can tell. FPS and client responsiveness is spot on.

The problem I'm having is creating custom runes. I create a new set, select what I want, label it, save it, and in-game it works. UNTIL.

[2022-03-03 17:53] kyechou commented on #38
Thanks for reporting the issue! Though unfortunately I won't have time recently to look into the problem or test it. So any help would be appreciated!

[2022-03-04 15:32] edisionnano opened #39 "Legaue of Legends client doesn't run"
### System information

 - Distro: Arch Linux
 - DE/WM: KDE and XFCE
 - CPU: i3-9100F
 - GPU: GTX 1650
 - Graphics card drivers installed: NVIDIA 510.54 from Arch Repos

### Describe the issue
After running `leagueoflegends install`, closing the Riot launcher without logging-in and then running `leagueoflegends start` Riot Launcher opens but upon logging-in nothing happens even after 10 minutes. T

[2022-03-06 03:11] caseyjp11 opened #40 "Lost Audio Arch latest pipewire/wireplumber/kernel updates. Workaround. (LoL-git script) FYI!!!"
Workaround:
tl;dr: switch wine's default audio output to ALSA. (winetricks or other methods).

So. Updating to ze bleeding edge once in a while leads to issues. heh.

After upgrading my Arch system to the latest updates today I lost wine audio/LoL audio.

Updates suspected to be involved:

kernel: 5.16.12-arch1-1

extra/pipewire 1:0.3.48-1 (1.6 MiB 7.7 MiB) (Installed)

extra/wireplumber 0.4.8-1 (

[2022-03-07 01:10] caseyjp11 commented on #38
A bit more info. This might NOT be an issue with Wine or the script. In the LoL subreddit, there are reports that this is happening with the native client as well.
I'm wondering if most players don't use/know how to change the default selections and thus hasn't gotten as much attention as it probably should be getting from RIOT.
If I see a resolution, I'll toss it here, but for the moment this IS

[2022-03-09 17:51] Kitt3120 commented on #39
Same here.

OS: Arch Linux
Kernel: 5.16.13-zen1-1-zen x86_64
DE/WM: KDE Plasma 5.24.3
GPU: GeForce RTX 2070 SUPER (Nvidia drivers 510.54)

[2022-03-11 02:54] caseyjp11 commented on #39
@Kitt3120 Please keep in mind that while YOU and some others are definitely having issues, it is not 'broken' on Linux. My rig, while similar to yours has a big difference: AMD RX550 video. And the script and game work just fine.
Another difference is stock kernel vs. ZEN. While I doubt that is an issue, it is definitely a difference from working on my system to not working on yours.

I'd say this

[2022-03-11 06:22] Kitt3120 commented on #39
Hey, thanks for the response. Excuse my unprecise phrasing, of course, League is not broken for everyone. Sorry, I was definitely overreacting think. It has definitely something to do with the Nvidia drivers or PipeWire, as I played fine on the same Wine version days before and since then only PipeWire and Nvidia drivers updated. So those two are my points to focus on. The gstreamer errors make me

[2022-03-11 12:02] edisionnano commented on #39
@Kitt3120 have you tried the 470 Vulkan Dev Beta drivers?

[2022-03-11 14:46] Kitt3120 commented on #39
Uh nope, I am on the newest nvidia drivers for arch, which is version 510.54 for me. Do you mean that I should downgrade to 470? I will try that next, currently I am trying it with the newest nvidia-beta drivers (which surprisingly is also version 510.54, but I'll just give it a try anyway)

[2022-03-12 07:27] Kitt3120 commented on #39
Yes, saw that on reddit and here on the issue tracker. I was a bit confused at first because I did not have the described problems. Coincidentally, I was also helping another guy on reddit installing PipeWire on his system, when I noticed some more differences between his setup and mine. I read the arch wiki article again and turns out that PipeWire changed much since I installed it. Back then, it

[2022-03-12 08:36] caseyjp11 commented on #39
The pipewire problem happened at .48. I pulled wireplumber and reinstalled the old media session. Then d/g pipewire to .47 and nothing changed. It wasn't until just changing the wine prefix to ALSA that things worked again.

[2022-03-12 22:50] edisionnano commented on #39
I'm on regular pulseaudio, not pipewire if it matters

[2022-03-13 02:52] caseyjp11 commented on #39
And that is where the coding/troubleshooting train leaves my station. I don't know. I haven't used pulse (other than the pipewire-pulse plugin) in quite awhile. Arch as a distro moved over to pipe as the default, and other than some manky Bluetooth connectivity issues that crop up, I haven't had any real issues with it until this update. <shrugs>

Regardless, by changing the sink in the prefix to

[2022-03-13 13:51] Kitt3120 commented on #39
I don't know what is happening exactly with my Lutris installation, but I am unable to change the audio driver to alsa using winetricks. Winetricks goes through the process like usually, but if when I open up the wine configuration and navigate to the audio tab, it still shows pulse as the driver. It works on other wine prefixes, so I guess I'll just create a new prefix and install the game over a

[2022-03-13 14:06] Simon-L commented on #39
Hoping I can contribute to this.
I'm on Debian Testing so I'll have to stick to 470. Interestingly I've manually switched to PipeWire recently, it is not default on Debian.

I too am having issues with LoL. I can confirm that winecfg from Lutris doesn't allow selecting alsa. I also note that winetricks seems broken (with a `gst` error which might indicate a sound issue) and prevents switching to a

[2022-03-13 17:01] caseyjp11 commented on #39
The git script works just fine using 'leagueoflegends -v run winetricks' to bring up the winetricks interface. It also ensures that the changes stay with the installation version of things.

As of the latest Systemd updates yesterday, my audio issues seemed to have magically resolved themselves.

I used winetricks to switch back to pulse and a game restart showed that audio is once again working t

[2022-03-13 18:34] edisionnano commented on #39
@Kitt3120 did you try 470 yet

[2022-03-13 18:39] Kitt3120 commented on #39
I wanted to try it yesterday, but I gave up in the end. Was a bit too lazy. I have some packages depending on the current Nvidia drivers. I thought it wouldn't be much work to switch over to 470. But turns out that it's a bit more complicated than I initially thought. I don't know if I'll try, don't want to break my system for this. Maybe I'll give it another try soon.

[2022-03-14 20:16] Simon-L opened #41 "Debian 32 bit dependencies for nvidia gpus not listed"
These 32 bit libraries were needed for the leagueoflegends script (reimer's wine-lol) to work on Nvidia gpus on Debian testing:
`# apt install libnvidia-glvkspirv:i386 libglx-nvidia0:i386`
I suggest to confirm this and then add these to the readme.

This project and the readme are focused on arch, I just wish that distros were able to agree on more standard package names. From a quick search it se

[2022-03-15 21:43] Kitt3120 commented on #39
I fixed my League!
Here's my post about it: https://www.reddit.com/r/leagueoflinux/comments/tf12dw/found_another_source_fix_for_league_crashes/

Basically, it was because I had vulkan implementations for AMD gpus installed, even though I am on Nvidia. This can happen accidentally by installing the steam package before Nvidia drivers and using the default options.

[2022-03-15 23:19] edisionnano commented on #39
radv and amdvlk installed, never thought of checking the icd files
![image](https://user-images.githubusercontent.com/26039434/158487858-f62d52d4-3ad1-4f94-b268-ac433d89578a.png)

[2022-03-16 00:45] edisionnano commented on #39
Closing as resolved but I believe should be added on the tutorial

[2022-03-17 03:19] Simon-L commented on #39
Thanks for reopening, let's get to the bottom of that.

@Kitt3120 @edisionnano Had you tried the solutions involving the `VK_ICD_FILENAMES` before coming to that? It's mentioned on reddit and elsewhere regarding issues with League of Legends, for example [here](https://www.reddit.com/r/leagueoflinux/comments/s54h5q/fixing_lutris_dxvk_issue_on_garuda_linux_to_make/hszzp0y/?utm_source=share&utm_medi

[2022-03-17 13:50] Kitt3120 commented on #39
That's very interesting, thanks for sharing. I bet that this would also fix the issue. The question is, why was it able to detect the right driver before the update? As far as I can tell, the bug was introduced with a very small patch Monday or Tuesday of last week.

[2022-03-20 23:58] MarioGK commented on #11
Working on KDE Wayland session, maybe something only related to sway?

[2022-03-21 15:49] coreybruce commented on #39
I run into this issue even tho the file is there

[code]

[2022-03-21 15:52] Kitt3120 commented on #39
Did you run the leagueoflegends install command as sudo by any chance? Maybe the file is not accessible for wine.
But thinking about it, that would probably just install the game to the root user.
Have you tried to uninstall and install the game again?

[2022-03-21 15:55] coreybruce commented on #39
Nope nevermind I fixed it but now I think my account got banned just for using it on Linux.. Nice lmfao

F U Riot!

[2022-03-21 16:15] Kitt3120 commented on #39
How did you fix it?
Also, regarding your account, Riot stated that despite not officially supporting Linux, they are unbanning people getting a false ban because of wine. You can try to contact the support.

[2022-03-21 16:18] coreybruce commented on #39
it installed the game into the wrong location next to drive c instead of being inside it which is where it was looking for it.

Oh I didn't know that was a thing, I could contact them if I really wanted to. Thanks for letting me know! :smile:

[2022-03-29 20:26] kyechou commented on #39
I know this is resolved, but please open up a new issue in the future if it is not known to be related to the current issue. Thanks :)

[2022-03-29 20:50] kyechou opened #42 "Automatically detect the active graphics card"
To help with people accidentally using the wrong Vulkan driver due to the co-existence of other packages (e.g., Steam), we may want to detect the currently active graphics card and set the environment variable `VK_ICD_FILENAMES` during the start of the script. No ETA.

[2022-03-29 21:05] kyechou commented on #39
For people in the future who are searching for the solution, [this is it](https://github.com/kyechou/leagueoflegends/issues/39#issuecomment-1068500770).

Additional documentation has been added to README. PRs are appreciated.

[2022-03-29 21:05] #39 closed

[2022-03-29 21:31] kyechou commented on #41
Thanks for letting me know the package names! Unfortunately I don't have Debian machines to confirm it, and I don't know the required package names for other distributions either (especially graphics related packages), so I'm unable to list all dependencies for all distributions. I will just add a paragraph in README explaining the situation with those two as an example. And hope someone will cont

[2022-03-29 21:31] #41 closed

[2022-03-29 22:00] kyechou commented on #40
Closing for now, assuming the fix is going to be released soon (or have been released already). Ref: https://www.reddit.com/r/leagueoflinux/comments/t7ob4u/comment/hzkaa3h/?utm_source=share&utm_medium=web2x&context=3

[2022-03-29 22:00] #40 closed

[2022-03-29 22:32] kyechou commented on #38
Thanks for letting me know @caseyjp11. Just to record some updates for future references:
* [The r/leagueoflinux thread](https://www.reddit.com/r/leagueoflinux/comments/t5gpc6/custom_runes_wont_save/)
* [(one of many) r/leagueoflegends threads](https://www.reddit.com/r/leagueoflegends/comments/soyl6p/runes_reset_when_logging_out_of_league/), other threads: [1](https://www.reddit.com/r/leagueoflege

[2022-03-29 23:36] kyechou commented on #38
The added workaround is working now, so I'm closing the issue for the time being. We may want to disable the workaround once Riot fixes the problem officially. Please feel free to reopen the issue if it doesn't work.

[2022-03-29 23:36] #38 closed

[2022-03-30 04:39] #42 closed

[2022-03-30 08:15] SemnoSao opened #43 "Can't start launcher"
### System information

[System]
OS:              Manjaro Linux 21.2.5 Qonos
Arch:            x86_64
Kernel:          5.13.19-2-MANJARO
Desktop:         XFCE
Display Server:  x11

[CPU]
Vendor:          AuthenticAMD
Model:           AMD Ryzen 5 3600X 6-Core Processor
Physical cores:  6
Logical cores:   12

[Memory]
RAM:             31.3 GB
Swap:            17.1 GB

[Graphics]
Vendor:          AMD

[2022-03-30 08:27] SemnoSao commented on #43
I could get it to open by running "leagueoflegends kill" and the starting again. The window "waiting for port" disappears when the game launcher loads (not the login window). Sorry for the inconvenience.

[2022-03-30 08:27] #43 closed

[2022-03-30 08:53] DaFalafels opened #44 "Problem with Using MangoHud in League of Legends"
### System information

 - Distro: Arch - EndeavourOS
 - DE/WM: KDE
 - CPU: Intel i9-10900kf
 - GPU: RTX 3080
 - Graphics card drivers installed: nvidia

### Describe the issue

Hello. Thank you for this great installer script, you're awesome, but I have a problem trying to get MangoHud to work with this League of Legends installation. I have tried setting up a .conf file named wine-league of lege

[2022-03-30 12:27] kyechou commented on #43
No problem. Glad it works now!

[2022-03-30 13:06] coreybruce opened #45 "Suggestion: fix/add these desktop shortcuts to give the game/launchers proper icons"
Hi there I just wanted to help and make a suggestion to make the package look a little bit more polished.

I have made a fix to the desktop shortcut so the LOL client will not only show the icon on the shortcut bu will give the LOL client the proper icon instead of the generic missing icon one.

I have made the changes to the league of legend desktop shortcut so the game gets the correct icon on t

[2022-03-30 15:08] kyechou commented on #45
Thanks for the suggestion! I've updated the script.

As for the zenity problem, that's just how it is. There's no way to change the icon shown in the dialog without modifying zenity code. ([Reference](https://unix.stackexchange.com/a/486808))

[2022-03-30 15:47] kyechou commented on #44
Hi @DaFalafels, the issue is probably more suitable to be opened at mangohub since it's about the usage of mangohub instead of the LoL script.

According to mangohud's documentation (https://github.com/flightlessmango/MangoHud#normal-usage), you need to prepend mangohud to the line that runs the game. So after installing the script, which is typically at `/usr/bin/leagueoflegends`, you may want to

[2022-03-30 15:47] #44 closed

[2022-04-03 01:46] ghost opened #46 "Game becomes unresponsive and stops rendering frames / shows a different workspace or app in its window."
### System information

 - Distro: Void Linux
 - DE/WM: bspwm
 - GPU: Nvidia 1080
 - Graphics card drivers installed: nvidia-510 nvidia-dkms nvidia-libs nvidia-libs-32bit vulkan-loader vulkan-loader-32bit xf86-video-nouveau

If your issue is related to graphics display, please attach the output of `vulkaninfo`.
[code]

### Describe the issue

Game becomes unresponsive and shows whatever applicatio

[2022-04-03 02:17] kyechou commented on #46
I experienced something similar with bspwm before too (I don't play as much now), but unfortunately I'm not sure what the cause might be and I may not have time to look into the issue in the near future. I suspect it has something to do with the configuration of wine and the window manager. Any information from others having similar issues (perhaps with different combinations of WM or DE) or insig

[2022-04-03 09:12] mk1923 commented on #46
I've been looking for the cause of this and as I've been using bspwm for a year without these issues I was a bit baffled to discover that the issues do not exist in dwm, Hypr or Gnome. It is quite odd that it should arise out of nowhere - bspwm has not been updated in almost a year. I tried the Lutris install with the default wine as it was what had worked before but the problems persisted.

For n

[2022-04-06 11:57] Leaced commented on #11
yes. It is related to sway. Sway does not support the proprietary nvidia driver and nouveau does not support vulkan.
This issue can be closed.

[2022-04-06 11:57] #11 closed

[2022-04-15 15:21] caseyjp11 commented on #46
This isn't exclusive to that window manager. I see similar issues on KDE (compositor on or off). While I don't lose the game when playing (it runs perfectly), the default settings give you a bordered client switching to a fullscreen game after champion select.
If I try to switch to another app/desktop or even call the menu, the flashy cursor and unresponsive game ensues with the screen flashing.
I

[2022-04-28 13:16] Naginipython opened #47 "Errors installing"
### System information

 - Distro: [e.g. Arch, Ubuntu 20.04, Fedora 35]
 - DE/WM: [e.g. Gnome, KDE, i3, bspwm]
 - CPU: [e.g. Intel i7-9750H]
 - GPU: [e.g. GTX 1080 Ti]
 - Graphics card drivers installed: [e.g. `mesa`, `xf86-video-intel`, `nvidia`, `xf86-video-nouveau`]

If your issue is related to graphics display, please attach the output of `vulkaninfo --summary`.

### Describe the issue

When r

[2022-04-29 17:21] xTarzx opened #48 "install fails"
Before creating an issue, please take a look at the [troubleshooting
section](https://old.reddit.com/r/leagueoflinux/wiki/index#wiki_3_-_.1F527_tech_support_and_troubleshooting).

### System information

 - Distro: arch
 - DE/WM: kde plasma (wayland), kwin
 - CPU: Intel i5-9300H
 - GPU: GTX 1050
 - Graphics card drivers installed: nvidia

### Describe the issue

`leagueoflegends install` fails to

[2022-05-12 15:35] emrebicer opened #49 "Increasing the launch speed of the client"
### System information

 - Distro: `Arch`
 - DE/WM: `i3`
 - CPU: `AMD Ryzen 5 1600 (12) @ 3.200GHz`
 - GPU: `NVIDIA GeForce GTX 1070`
 - Graphics card drivers installed: `nvidia`

### Describe the issue
Currently, after executing the command `leagueoflegends start` there is around 5 minutes of delay until we see the actual league client. I think this issue has been around for a very long time and

[2022-05-15 19:33] kyechou commented on #49
Hi @emrebicer, thanks for letting me know! I saw the post some time ago. But there are concerns that the code injection may result in bans from Riot, because it's technically a third-party client, so I decided not to use it by default. If you're interested in using the solution, perhaps try https://www.reddit.com/r/leagueoflinux/comments/toagve/easy_guide_for_kyechous_leagueoflegends_no/.

[2022-05-15 19:54] kyechou commented on #47
Hi @Naginipython, please fill out the system information.

- Distro: [e.g. Arch, Ubuntu 20.04, Fedora 35]
- DE/WM: [e.g. Gnome, KDE, i3, bspwm]
- CPU: [e.g. Intel i7-9750H]
- GPU: [e.g. GTX 1080 Ti]
- Graphics card drivers installed: [e.g. mesa, xf86-video-intel, nvidia, xf86-video-nouveau]

For the FreeType font issue, please try https://forums.lutris.net/t/solved-wine-missing-freetype-library/27

[2022-05-15 20:12] kyechou commented on #48
Hi @xTarzx, I couldn't find information related to the problem, especially during `wineboot --init`. I have no idea what might be the cause. Could you please do a system upgrade, clean reboot, and then run
[code]
and see what happens?

[2022-05-15 21:44] xTarzx commented on #48
I tried to reinstall all dependencias but issue still persisted.

Will be closing this issue since it seems I'm the only one with this problem.
Possibly going to try again after a clean OS install.

[2022-05-15 21:44] #48 closed

[2022-05-15 23:53] Naginipython commented on #47
My apologies, I tend to mess up my Linux and reinstall very often, and I haven't had this issues since. However, in hindsight, I believe the reason I had this issue was possibly due to misunderstanding what wine-lol was. I never actually installed wine-lol I believe, I think I was confused and simply modified wine and thought doing that made it wine-lol. Thanks for the response though!

[2022-05-15 23:53] #47 closed

[2022-05-17 23:42] xTarzx commented on #48
For anyone getting the same error, i managed to workaround it.

Use another wine (not wine-lol) to initialize the prefix.
Then `leagueoflegends install` should work.

[2022-06-15 19:37] Abdulee opened #50 "Stuck/frozen once in game"
- Distro: Arch Linux
 - DE/WM: Gnome
 - CPU: i7 8750h
 - GPU: GTX 1060
 - Graphics card drivers installed:  `mesa`, `nvidia-prime`, `nvidia`

### Describe the issue

Once in a game the game completely gets stuck(sometimes as soon as it starts other times after 2-3 minutes in rift) and it seems as if the gpu has crashed or something. I can move the cursor but thats it nothing else. No keystrokes re

[2022-06-19 11:48] Araly commented on #46
you can fix that easily with a virtual desktop. run `leagueoflegends run winetricks`, select "current wine profix", then "winecfg". In that windows looking window, there's "Graphics" and something like "emulate desktop" or "virtual desktop. enable that, give it your screen size, and apply. From there you can just exit out of everything back. When you launch the game it will be in its own little sp

[2022-06-20 08:14] Miusaky opened #51 "Client closes and re-launches itself during champion select."
### System information

 - Distro: Void Linux
 - DE/WM: dwm
 - CPU: AMD Ryzen 5 5600X
 - GPU: NVIDIA GeForce GTX 1080
 - Graphics card drivers installed: Nvidia 515.48.07_1

### Describe the issue

Client quits and re-launches itself repeatedly during champion select. Works fine until the queue has been accepted. It does not happen all the time - sometimes I can enter a match and have no problems

[2022-06-24 20:08] Miusaky commented on #49
Perhaps worth re-considering now. It's been out for a few months with no reports of bans and the Lutris script seems to now have adopted it as well.

[2022-06-25 09:08] #51 closed

[2022-06-27 16:49] kyechou commented on #51
Hi @Miusaky, sorry that I've been busy lately and couldn't take a look at the issue. I'm wondering if the issue is resolved? If so, how was it resolved?

[2022-06-27 16:53] kyechou commented on #46
@caseyjp11, do you still have the issue? If so, would you mind trying out what Araly suggested? Thanks!

[2022-06-27 20:28] kyechou commented on #51
Cool, glad it worked!  Please feel free to submit new issues if there's one.

[2022-07-01 02:43] rurigk commented on #50
I'm having a similar issue, between minute 2-5 the game freezes for some seconds

Distro: Manjaro
DE/WM: KDE
CPU: Ryzen 7 2700X
GPU: RX 6700XT
Graphics card drivers installed: `mesa`, `RADV`

[2022-07-05 11:57] Ltrinch commented on #49
To optimize LoL loading, just run $CLIENT_EXE without
`--launch-product=league_of_legends --launch-patchline=live`
and remove/comment
`( port_waiting_daemon ) | loading_screen &`, then LoL will start faster (around 20-40 second).
After the LoL client is loaded, close the Riot client.

[2022-07-08 02:25] Ltrinch opened #52 "Speed up the LoL loading process w/o any program"
### System information

 - Distro: Gentoo 2.8
 - DE/WM: i3
 - CPU: Intel i5-8400
 - GPU: UHD 630
 - Graphics card drivers installed: `mesa`, `xf86-video-intel`
### Describe the issue

League of Legends takes a very long time to start (5+ minutes).

### Steps to reproduce

1. Run command `leagueoflegends start`
2. Wait 5 minute (???)
3. Done.
### How to fix it

The only thing is that you have to ru

[2022-07-23 02:35] F1uk369 commented on #52
my league just doesnt start reguardless. mind sharing the script? i may of broken something.

[2022-07-24 04:56] calebaden commented on #52
this doesn't work for me either

[2022-07-26 03:47] Ltrinch commented on #52
Hm... try this?..
https://pastebin.com/LUn7WNAe

[2022-07-26 07:39] Ltrinch commented on #52
You can also just cp this changes and test it
https://github.com/kyechou/leagueoflegends/pull/54/files

[2022-07-27 07:43] kassindornelles opened #55 "New WINE patch to get rid of vsyscall32=0 problems"
Hi!
Theres a new patch for WINE that fixes the need for the vsyscall32=0 problem
So using the new builds provided by GE (and in the future by M-Reimer) would fix all the issues like lower 32-bit performance by using vsyscall32=0 system wide!

also worth saying that the GloriousEggroll builds also fix the need for a script to launch league, so you can just run the riotclientservices.exe directly wi

[2022-07-28 15:51] Kitt3120 commented on #55
Nice to see an issue already open, just wanted to open one up! :)
The new GloriousEggroll build also fixes the long start up time of about 5 minutes! The client starts very quick now, just as on Windows.

[2022-08-05 11:39] M-Reimer commented on #55
Fixed in "wine-lol" and now we also have a "wine-lol-bin" PKGBUILD.

@kyechou I'm not sure what we should do with your "wine-ge-lol" PKGBUILD now. Do you want to request deletion for it?

[2022-08-05 15:25] kyechou commented on #55
Hi, sorry for the late reply. Life's been demanding lately.

@kassindornelles Thanks for the information and I'm glad the issue's resolved in wine! I'll update the scripts and resolve related issues this morning or over the weekend.

@M-Reimer Yeah I think that's the way to go. I'll test the game soon and send out the deletion request for wine-ge-lol.

[2022-08-05 18:15] kyechou commented on #55
The script and README are updated and tested.

[2022-08-05 18:15] #55 closed

[2022-08-05 18:15] kyechou commented on #52
The script and README are updated and tested with the new wine-lol.

[2022-08-05 18:15] #52 closed

[2022-08-05 18:17] kyechou commented on #49
The script and README are updated and tested with the new wine-lol.

[2022-08-05 18:17] #49 closed

[2022-08-07 00:58] johny135795 opened #56 "League of Launcher not responding"
The process acted as the creators told him to. I log in and run until the Riot launcher, but the League of Legends launcher does not run I don't know what the problem is.
just unresponsive

[2022-08-08 01:05] kyechou commented on #56
Hi @johny135795, please provide more information like the verbose output of running the game (start it with the `-v` option), the system information (distro, GPU, graphics driver packages, etc.), how exactly you installed the game, and then double-check if all the dependencies and drivers are correctly installed.

[2022-08-08 02:53] kyechou opened #57 "League client freezes (blanking on or before the honors page) after a game finishes"
### System information

 - Distro: Arch Linux (5.18.16.arch1-1)
 - DE/WM: bspwm
 - CPU: Intel i7-9750H
 - GPU: GeForce RTX 2060
 - Graphics card drivers installed: `mesa`, `nvidia-dkms`, `nvidia-utils`, `lib32-nvidia-utils`

### Describe the issue

After each match ends, around 80-90% of the time the League client freezes during/before the honors page.

### Steps to reproduce

1. Play a game as us

[2022-08-08 12:51] johny135795 commented on #56
I'm using Fedora 36. https://github.com/kyechou/leagueoflegends
It seems that all the parts included in the code were installed in .
01:00.0 VGA compatible controller: Advanced

My current computer is cpui5-14000F
The Gpu is an RTX 570 RX.
Micro Devices, Inc. [AMD/ATI] Ellesmere [Radeon RX 470/480/570/570X/580/580X/590] (rev ef)

I followed the installation method according to the code and impleme

[2022-08-08 12:53] johny135795 commented on #56
Currently, I'm enjoying the game by installing it as a snap, but it sometimes turns off or freezes once in every game. This phenomenon seems to be happening.

[2022-08-08 12:57] johny135795 commented on #56
Riot launcher runs, but the role client itself does not (no response)

[2022-08-14 01:28] Phanatik opened #58 "Can't install due to "modify_ldt: Function not implemented""
### System information

 - Distro: Arch Linux (linux-hardened 5.18.17.hardened1-1)
 - DE/WM: Sway
 - CPU: Ryzen 7 3700X
 - GPU: Sapphire Radeon RX5700 XT
 - Graphics card drivers installed: [e.g. `mesa`, `lib32-mesa`, `vulkan-radeon`, `lib32-vulkan-radeon`]

### Describe the issue

When attempting to install League of Legends (or even use wine-lol at all), results in a modify_ldt error.

### Steps

[2022-08-14 01:38] kyechou commented on #58
Hi @Phanatik, thanks for the issue. What's the output of `zcat /proc/config.gz | grep MODIFY_LDT` in your system? I suspect this may have something to do with the hardened kernel. This [post](https://bbs.archlinux.org/viewtopic.php?id=234698) also seems relevant.

[2022-08-14 01:42] Phanatik commented on #58
It might have something to do with the change in wine-lol to use GloriousEggroll's patches because it used to work before and then suddenly stopped.

`zcat /proc/config.gz | grep MODIFY_LDT`

Gives me: ```# CONFIG_MODIFY_LDT_SYSCALL is not set```

[2022-08-14 01:47] kyechou commented on #58
Yeah, the switch to GloriousEggroll's patch set definitely changes a few requirements for running the game in wine-lol.  It looks like there's no easy fix (AFAIK) other than either rebuild the kernel while enabling the kernel options mentioned [here](https://bugs.archlinux.org/task/57440), or switch to another kernel package (e.g., `linux`).

[2022-08-14 01:53] Phanatik commented on #58
Well that's rubbish. It was the only way I could get the game to work. Lutris refused to install the prefix but that's a separate issue. I guess I'll close this for now then.

Thank you for the help and info!

[2022-08-14 01:53] #58 closed

[2022-08-17 09:39] johny135795 opened #59 "freeze as soon as I start the game."
distro manjaro 21.04
i5-12400F
amd rtx 570rx

I freeze as soon as I start the game.

The rest of the lunch problem is solved well. I can't start the game because it freezes and the screen stops and turns off. I can't play the game.

[2022-08-17 13:45] kyechou commented on #56
#59

[2022-08-17 13:45] #56 closed

[2022-08-17 14:11] kyechou commented on #59
The issue template exists for a good reason.

Please provide:
1. The exact steps to reproduce the issue precisely.
(I'm not sure what you meant by the screen stops and turns off. It's very unlikely that a wine application can turn of the screen. Also, by starting the game do you mean the Riot client, League client, or the match after champion selection?)
2. The verbose log output for starting the

[2022-08-17 14:21] kyechou commented on #50
Hi @Abdulee, @rurigk, please try again with the latest version, now that wine-lol had been updated with GE patches, and then clean-reinstall the game. If the issue persists, please provide the output of `pacman -Qi leagueoflegends-git' and the screenshot of the "Graphics" tab when you run `leagueoflegends run winecfg`.

[2022-08-17 14:25] kyechou commented on #33
After the recent update of wine-lol (7.14), some things mentioned above do not apply anymore.  Please try again with the new version and reinstall the game.  I haven't had much time testing and making sure Garena works, so any PR is appreciated.  Closing for now.  Please open up a new issue if things don't work.

[2022-08-17 14:25] #33 closed

[2022-08-17 14:31] kyechou commented on #46
Closing for now due to inactivity and OP gone.

[2022-08-17 14:31] #46 closed

[2022-08-17 16:47] rurigk commented on #50
I already try the lastest
It's not a problem anymore, but now I have to kill the game process after every match or the client keeps frozen

[2022-08-17 17:34] kyechou commented on #50
Yeah, it seems to be caused by the 7.14 patch set.  #57 is the main thread for that issue, where one workaround might be revert wine GE to 7.0.4, but I haven't tested it.  Closing this for now.

[2022-08-17 17:34] #50 closed

[2022-08-22 04:54] elixxrades opened #60 "client doesnt start"
### System information

 - Distro: [Arch]
 - DE/WM: [xfce4]
 - CPU: [i3]
 - GPU: [radeon r7 240]
 - Graphics card drivers installed: [lib32-amdvlk,lib32-vulkan-radeon]

The launcher starts, but when I press the play button, the game does not open.

### Steps to reproduce
[code]

[2022-08-22 15:47] TriedAngle opened #61 "Correct Ingame resolution setting missing after update"
Before creating an issue, please take a look at the [troubleshooting
section](https://old.reddit.com/r/leagueoflinux/wiki/index#wiki_3_-_.1F527_tech_support_and_troubleshooting).

### System information

 - Distro: Arch
 - DE/WM: HLWM
 - CPU: Ryzen 5950X
 - GPU: RTX 3090

 - Graphics card drivers installed: `nvidia-dkms`

### Describe the issue
Latest aur package update set my video settings in a

[2022-08-26 17:44] kyechou commented on #57
Fixed: https://github.com/M-Reimer/wine-lol/pull/112.

[2022-08-26 17:44] #57 closed

[2022-08-26 20:36] mikaeldui opened #62 "GitHub Runners complain about no attached display"
### System information

 - GitHub Runner
 - Distro: Ubuntu 20.04

### Describe the issue

Complaining about no dispaly

### Steps to reproduce

Run on a GitHub Actions runner, and there'll be complaints about no display attached.

### Comment

I'm trying to broaden the combability of my action [Setup League Client](https://github.com/marketplace/actions/setup-league-client), so that it also works

[2022-08-28 12:27] DaviVilarinho commented on #60
same here, xfce4 or i3

[2022-08-28 12:54] drshapeless commented on #33
I can install Garena successfully. But it only shows a blank window, buttons are clickable. This is a known visual bug when we enable DXVK to launch garena client. I know how to set it in Lutris, but have no idea how to set it here.

Is there any way to disable DXVK when launching garena but not the game?

[2022-08-28 13:05] drshapeless commented on #33
The game was downloaded. However, the client launched is not the desired one. It is the english client instead of my localized one. Maybe there is something wrong in the path to launch the different client for different regions?

[2022-08-28 15:11] kyechou commented on #60
@elixxrades, @DaviVilarinho, please provide the verbose output for starting the game, the output of `vulkaninfo --summary`, and the detailed steps of reproducing the issue.

[2022-08-28 15:19] kyechou commented on #33
Yes, please check out the README document, or run `leagueoflegends --help`.

I won't be able to look into the issue until at least October. As mentioned, please open up a new issue, and pull requests would be also helpful!

[2022-08-31 10:08] mibli opened #63 "Configurible download location"
Perhaps a configuration file should be available to at least set the install location, could be also asked for during `install` command. I have quite small home partition and install games on m2 drive. Installing in user folder also creates an issue with multi-user installation sharing.

[2022-09-01 14:13] elixxrades commented on #60
@kyechou vulkaninfo

[code]

[2022-09-01 14:30] kyechou commented on #63
Hi @mibli, for now you may modify the script at `/usr/bin/leagueoflegends` to change the installation path in variable "WINEPREFIX".  Maintaining a configuration file doesn't seem necessary for now due to the amount of configurable parameters and that it still requires the user to modify a file.  But any PRs may be reviewed accepted and if the function is really needed.

[2022-09-01 16:52] kyechou commented on #62
Hi @mikaeldui, I'm not entirely sure how that works, but I'd assume the LoL installer requires an attached screen. I saw that you have Xvfb set up, but I'm not sure why the installer still complains about it. [This comment](https://github.com/rustdesk/rustdesk/issues/59#issuecomment-1107477856) might be helpful.

[2022-09-01 16:57] kyechou commented on #61
Hi @TriedAngle, I believe the LoL script itself didn't modify anything about the resolution settings. Perhaps you could try upgrading the whole system (`yay -Syu`), reboot it, and then restart the game again?  If it still doesn't work, you may want to try tinkering the settings in `leagueoflegends run winecfg`.

[2022-09-03 00:33] miusaky opened #64 "League client crashes on startup; LeagueClientUx.exe encountered a serious error."
### System information

 - Distro: Arch
 - DE/WM: Awesome
 - CPU: AMD Ryzen 5 5600X
 - GPU: 1080
 - Graphics card drivers installed: nvidia 515 via [nvidia-all](https://github.com/Frogging-Family/nvidia-all).

### Vulkan info
[code]

### Describe the issue

Riot client launches fine. League client shows splash and then crashes, showing a popup with "LeagueClientUx.exe has encountered a serious pro

[2022-09-03 00:56] kyechou commented on #64
The vulkan output and the graphics driver seem alright. How did you install wine-lol?
I'd assume the system wine-tkg shouldn't matter too, but I'm not entirely sure.

[2022-09-03 01:00] kyechou commented on #64
Not sure if this is related: https://forum.winehq.org/viewtopic.php?t=36233

[2022-09-03 02:42] miusaky commented on #64
Installing corefonts did unfortunately not solve it.

[2022-09-03 11:47] miusaky commented on #64
Installed the leagueoflegends-git package from aur which pulled wine-lol in the process.

[code]

[2022-09-03 13:31] miusaky commented on #64
Crashes with GloriousEggroll's wine build as well.

[2022-09-03 16:47] miusaky commented on #64
I couldn't solve this. Ended up doing a new Arch installation. Works now.

[2022-09-03 16:47] #64 closed

[2022-09-05 21:50] miusaky commented on #64
I ran into this again and in the process of eliminating every possible difference to previous installations I disabled the second monitor (which I have set to mirror the first one) and now it works. I still have no idea what the cause of this is but if someone else with a similar setup runs into this, try disabling non primary monitors.

[2022-09-11 03:53] rurigk commented on #57
This has the 5 minute wait or everything is already fixed (5 minute wait + Hang after game)?

[2022-09-12 20:42] BeetMacol opened #66 "Replays were incorrectly merged!"
Hi, yesterday you merged my replay PR (#65).

Before merging, you made a few changes and one of them **breaks the replay command** (at least for me)! The League of Legends game EXE does not work when started from outside its directory - that's why I added the `pushd` and `popd` lines.

## The issue
After running `leagueoflegends replay replay.rofl`, League of Legends logs the following error, and

[2022-09-12 23:26] kyechou commented on #66
Thank you @BeetMacol!

[2022-09-13 11:23] BeetMacol commented on #66
It's almost fine now. This time though, relative replay paths will not work correctly as you change the directory before `$(winepath -w "$1")`... It should be perfectly fine for absolute paths.

[2022-09-22 14:33] BeetMacol commented on #66
Yeah, seems to be fine now. Sorry for late reply.
Thank you for adding the feature!

[2022-09-22 14:33] #66 closed

[2022-11-18 13:05] elancha98 opened #67 "Vulkan Driver not searching for nvidia"
The Riot Client will start normally, however when trying to start League of Legends client, it will insta-crash after showing the
"LEAGUE OF LEGENDS" splash that should appear before the client starts.

Taking a look at the logs, I found this is due to the vulkan driver not looking up for nvidia icds, in fact, from the logs
[code]

I fixed this by making a copy of `/usr/share/vulkan/icd.d/nvidia_i

[2022-11-18 17:05] elancha98 commented on #67
No problem, the output is `unset`

[2022-11-18 17:09] kyechou commented on #67
Ok.. that's weird. I'll have to test it and see if I can reproduce that. Can you also try to run the game with `leagueoflegends -v -s start` and share the full output log? Thanks!

[2022-11-19 20:28] kyechou commented on #67
@elancha98, I couldn't reproduce the issue with my Nvidia setup. Please share the command output mentioned above as well as the details of how you installed the game, launched the game, and the related dependencies installed.

[2022-11-20 04:24] kyechou commented on #63
@mibli The configuration functionality is added. You may create a file at `~/.config/league.sh` with the following line. Please check out the updated README for more details.

[code]

[2022-11-20 04:24] #63 closed

[2022-11-20 19:41] trainzkid opened #69 ""Unknown Error" Once Client Opens After Install"
### System information

 - Distro: Arch Linux on kernel 6.0.5-zen1-1-zen
 - DE/WM: i3
 - CPU: AMD Ryzen 7 5700G with Radeon Graphics (16) @ 3.800GHz
 - GPU: `AMD ATI 2a:00.0 Cezanne`, per neofetch, but it's just the integrated graphics, no dedicated GPU
 - Graphics card drivers installed: mesa 22.2.1-1, amdvlk 2022.Q4.1-1, lib32-amdvlk 2022.Q4.1-1

### Describe the issue

League client no longer r

[2022-11-20 20:20] kyechou commented on #69
Yeah those error messages don't seem normal.. May I ask about the reason for recovering from the backup? What was the process of the backup recovery? Are there any changes made to the system, like different hardware, kernel, or the installed packages?

Another thing you might want to try is breaking down the possible root causes, which means:
1. Run some simple windows applications (like notepad.e

[2022-11-20 20:29] kyechou commented on #69
Ah another thing. I know this is kind of a meme, but have you tried a whole system upgrade followed by a reboot? No offense, just to be on the safe side.

[2022-11-20 21:16] kyechou commented on #69
@trainzkid, so I've been searching for similar issues, but haven't found anything useful, though one thing is to make sure the wine that you're using is actually wine-lol (which is GloriousEggroll's patch). One should be able to tell once you share the verbose log output. Good luck

[2022-11-20 21:24] kyechou commented on #69
Oh shoot.... I missed an important line in your description. Sorry for the confusion!

That's highly discouraged. @trainzkid Please install the AUR package to make sure all dependencies are met, and remove any conflicting files that were manually installed. Please share the error or the reason why paru wasn't able to get the dependencies. That'd be the most critical problem. Also, how did you buil

[2022-11-20 21:45] trainzkid commented on #69
Apparently, finding all the odd, abnormal bugs is my specialty.

I recovered from a backup, because I was having space issues with my home dir thanks to systemd-homed, so I manually recreated my user acc, backed up the home dir to another device (via tar czf), then removed my home dir. Then I did it all in reverse, I created my home dir, moved the backup to this device and extracted it (tar xzf),

[2022-11-20 21:53] trainzkid commented on #69
So every `wine: Unhandled exception..` appears to be associated with ![image](https://user-images.githubusercontent.com/25827707/202928036-7c2a8eda-7fac-4de9-8f00-f1b18599c199.png), as every time it spits that into the output, those error messages appear.

Also, the sysupgrade and reboot didn't make any difference unfortunately. Here's the verbose output from `leagueoflegends --verbose install`: [

[2022-11-20 23:03] kyechou commented on #69
Thanks @trainzkid! Could you please run the following commands:
[code]

[2022-11-20 23:04] kyechou commented on #69
I should've probably made the parameter parsing more robust...

[2022-11-20 23:15] kyechou commented on #69
Ok, so if the output of those two commands doesn't look right (i.e., not using the correct wine-lol binary), then ignore the following paragraph.

I just pushed a new commit regarding the ordering of verbose output. If you have time, after the system upgrade, it'd be helpful to first update the leagueoflegends-git package, and then do `leagueoflegends -v reinstall` and then `leagueoflegends -v sta

[2022-11-20 23:23] kyechou commented on #69
I made an error in the previous commit...

[2022-11-20 23:23] trainzkid commented on #69
`ryan@Orion ~> leagueoflegends --verbose reinstall`
`[!] Unknown command: --verbose`

uh....

That's with `leagueoflegends-git 12.16.r12.g1f4def1-1`..

[2022-11-20 23:24] kyechou commented on #69
Right, give me one sec.

[2022-11-20 23:24] kyechou commented on #69
Ok, please try again now

[2022-11-20 23:26] kyechou commented on #69
Reminder: please share the output of those two commands. They should run even without installing the game.

[2022-11-20 23:28] trainzkid commented on #69
Oops, sorry, I checked before but didn't say anything, they didn't look abnormal from what I can tell:
`ryan@Orion ~> leagueoflegends run which wine`
`/opt/wine-lol/bin/wine`

`ryan@Orion ~> leagueoflegends run sh -c 'echo $PATH'`
`/opt/wine-lol/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl`

[lol_reinst_r13.log](https://github.com/kyechou/l

[2022-11-20 23:51] kyechou commented on #69
That argument parsing thing should be fixed now. But I'm still not sure why there are those errors. It'd be great if you could try again with the fixed version.

[2022-11-20 23:56] trainzkid commented on #69
Ah, that worked, though it error'd out. Looks like we found a possible culprit:
`Executing cabextract -q --directory=/home/ryan/.local/share/leagueoflegends/dosdevices/c:/windows/temp/win32 /home/ryan/.cache/winetricks/ucrtbase2019/vc_redist.x86.exe -F a10`
`/home/ryan/.cache/winetricks/ucrtbase2019/vc_redist.x86.exe: No such file or directory`

[lol_reinst_r14.log](https://github.com/kyechou/leag

[2022-11-20 23:56] kyechou commented on #69
That's great news! Let me look into it..

[2022-11-21 00:15] kyechou commented on #69
This issue seems to be related: https://github.com/Winetricks/winetricks/issues/1770

I'd suggest:
1. `rm -rf ~/.cache/winetricks` and then reinstall the game. Hopefully that'll fix the problem.
2. If that doesn't work, try `rm -rf ~/.cache/winetricks`, `leagueoflegends uninstall`, and then modify `/usr/bin/leagueoflegends` to replace `vcrun2019` with `vcrun2017`. Then install the game again.

[2022-11-21 00:17] kyechou commented on #69
Please let me know if either of those works. I'll see there's a proper solution to the caching issue.

[2022-11-21 00:37] trainzkid commented on #69
1. No luck, same error as before.
2. This worked, I replaced one line in `/usr/bin/leagueoflegends/` and it installed and started up to the league client window. It's currently downloading an update, so I'll test a match via the practice tool later, but this looks resolved (at least until I update leagueoflegends-git in the future).

Thanks for your help!!

[2022-11-21 05:21] trainzkid commented on #69
Confirmed this solution works, loaded into a practice match without issue.

[2022-11-21 16:34] kyechou commented on #69
Reopening the issue for this shouldn't happen.. and before we can solve the root cause.

According to https://github.com/Winetricks/winetricks/pull/1777, installing vcrun2019 shouldn't extract ucrtbase. @trainzkid, would you mind checking the version of the winetricks that was used when the error occurred? More importantly, if the version of winetricks you were using includes that PR.

[2022-11-21 16:57] trainzkid commented on #69
Looks like I had winetricks-git 20220411.r67.gb666e05a-1 both when the issue was occurring and now (after the sysupgrade performed yesterday). Where would I look to verify that that version includes that PR? I see that [b0210c3](https://github.com/Winetricks/winetricks/commit/b0210c36f8a17735794de306b46174396f1c890c) was the commit into winetricks' master branch on Jun 15, 2021, but the lines I se

[2022-11-21 17:28] kyechou commented on #69
I think I understand now... The line that was causing the errors is: https://github.com/Winetricks/winetricks/blob/b666e05a0bf28fd940e5c258ccdfc0a2799d1948/src/winetricks#L13086. It's in winetricks-git but not yet released.

[2022-11-21 17:35] trainzkid commented on #69
Is that line present in the non-git version of winetricks? If not, is using the git version of winetricks necessary instead of the (theoretically more stable) non-git winetricks?

[2022-11-21 17:42] kyechou commented on #69
This is the commit that added the new verb: https://github.com/Winetricks/winetricks/commit/cb1e6611df1b3e4e8a025409f87b7fa5bd6b2d9e

[2022-11-21 17:44] kyechou commented on #69
So to actually debug the issue (if you want of course), you'd need to check and see why [this function](https://github.com/Winetricks/winetricks/commit/cb1e6611df1b3e4e8a025409f87b7fa5bd6b2d9e#diff-0120b8c6219f57131e91b23416142b37b990b95acb666919ec3db84d4e410c4aR13097) wasn't working for you. For example, can you access those links?

[2022-11-21 17:45] kyechou commented on #69
But either way, I'd suggest using the release version instead of the git version if not necessary.

[2022-11-21 17:53] trainzkid commented on #69
I'm able to access both links in that function, but I wonder if they give up if network connectivity is spotty. I occasionally have dodgy internet. I would think it would be something else though if it was failing multiple times, rather than just once, unless that function is only attempted once or something, or maybe an assumption was made during one of the updates.. very strange.

As for using t

[2022-11-21 17:59] kyechou commented on #69
Yeah, but we'll need to see the verbose log output to know for sure. But for now it looks like there isn't anything in this repo that needs fix. The winetricks upstream looks fine too. And yes, I think we changed the dependency back to `winetricks` about 7 months ago.

[2022-11-21 18:05] trainzkid commented on #69
Ah, found it, required by protontricks. Looks like I've got orphaned packages chilling around. Thanks for the help! Let me know if there's anything else you'd like me to try now that we've got a bit of an idea what went wrong and how to prevent it.

[2022-11-21 18:11] kyechou commented on #69
Thanks @trainzkid! Documenting the issue below and closing.

### For anyone who happen to have the same issue

This is the log output showing the problem: [lol_reinst_r14.log](https://github.com/kyechou/leagueoflegends/files/10051057/lol_reinst_r14.log)

For some reason winetricks didn't try to download ucrtbase2019 as shown at https://github.com/Winetricks/winetricks/blob/b666e05a0bf28fd940e5c258

[2022-11-21 18:11] #69 closed

[2022-11-23 04:37] Bligzar opened #70 "League of Legends client crashes at launch."
### System information

I have 2 machines :
 - Distro: Arch 6.0.9 / Manjaro 5.15 LTS
 - DE: KDE Wayland / X11
 - CPU: Ryzen 7 1700 / Ryzen 7 6850U
 - GPU: AMD 680M / NVidia 1060 6GB
 - Graphics card drivers installed:  libvulkan_radeon/ libGLX_nvdia

Both are on fresh leagueoflegends-git install from yay/pamac

### Describe the issue

The league of legends client crashes a couple of minutes after

[2022-11-23 04:50] kyechou commented on #70
Please attach the complete log output of `leagueoflegends -v reinstall` and `leagueoflegends -v -s start`.

[2022-11-23 05:09] Bligzar commented on #70
Here! : https://gist.github.com/Bligzar/9ec02a5c6a1475da0fac1cbceee68258

[2022-11-23 06:00] #70 closed

[2022-11-26 15:43] elancha98 commented on #67
Hey, sorry for not responding, I was out on vacation and I couldn't check. I'm home now so here's the output of an error launch [https://pastebin.com/bqv86SnJ](https://pastebin.com/bqv86SnJ) and of a launch with the hack I made [https://pastebin.com/8sG0dFLv](https://pastebin.com/8sG0dFLv). Hope it helps :)

[2022-11-29 21:04] emrebicer opened #71 "Stuck at LoL logo, can't get to the game client"
### System information

 - Distro: Arch Linux (6.0.9-arch1-1)
 - DE/WM: swaywm
 - CPU: 12th Gen Intel i5-1240P
 - GPU: Intel Alder Lake-P (iGPU)
 - Graphics card drivers installed: mesa

### Describe the issue

I can't get past the league of legends logo, the riot client opens, I enter my username and password, the league of legends logo pops up and stays for a few minutes then goes away and the g

[2022-11-30 12:08] chungkng commented on #71
I'm having the exact same issue and have also tried reinstalling the game; am also running swaywm on Arch Linux, only with an 8th gen i5

[2022-11-30 15:51] kyechou commented on #71
@emrebicer @chungkng, please provide the output of:
- `leagueoflegends -v -s reinstall`
- `leagueoflegends -v -s start`
- `pacman -Qi leagueoflegends-git`

Please note the ordering of options, and read `leagueoflegends -h`.

@emrebicer, would you mind also providing the list of packages that got updated (if there's any) before and after the issue first occurred? You could get that by checking the

[2022-11-30 15:52] kyechou commented on #59
Closing for inactivity. Please open a new issue if needed.

[2022-11-30 15:52] #59 closed

[2022-11-30 16:19] chungkng commented on #71
Thank you for your response. I was able to launch League normally after running the first two commands. Would you still like to see their output?

[2022-11-30 16:22] kyechou commented on #71
That's good news! In that case you don't have to share the output.

[2022-11-30 16:23] chungkng commented on #71
Very well, then. Thank you for your time :) have a great day.

[2022-11-30 20:56] emrebicer commented on #71
Hey! Thanks for the reply and suggestions, I did run the ```reinstall``` and ```start``` commands with the correct flag positions as well and now I can get to the client and run the game as well (the issue is resolved). I don't think my pacman log can provide anything useful since I did not do anything other than (after starting having the issue) remove and reinstalling ```leagueoflegends-git``` A

[2022-11-30 21:02] kyechou commented on #71
The issue seems to be resolved. Closing

[2022-11-30 21:02] #71 closed